<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <meta name="description" content="POS - Bootstrap Admin Template">
      <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
      <meta name="author" content="Dreamguys - Bootstrap Admin Template">
      <meta name="robots" content="noindex, nofollow">
      <title>Dreams Pos admin template</title>

      {% include "admin/_layout/css.html" %}
      {% include "admin/_layout/style.html" %}

  </head>

  <body>
    <div id="global-loader">
      <div class="whirly-loader"></div>
    </div>
    <div class="main-wrappers">
      {% include "admin/_layout/header.html" %}
      {% block content %}{% endblock %}
    </div>
    {% include "admin/_layout/scripts.html" %}
  </body>
</html>
