<script src="{{baseURL}}/assets/js/jquery-3.6.0.min.js"></script>
<script src="{{baseURL}}/assets/js/feather.min.js"></script>
<script src="{{baseURL}}/assets/js/jquery.slimscroll.min.js"></script>
<script src="{{baseURL}}/assets/js/bootstrap.bundle.min.js"></script>
<script src="{{baseURL}}/assets/js/jquery.dataTables.min.js"></script>
<script src="{{baseURL}}/assets/js/dataTables.bootstrap4.min.js"></script>
<script src="{{baseURL}}/assets/js/select2.min.js"></script>
<script src="{{baseURL}}/assets/js/owl.carousel.min.js"></script>
<script src="{{baseURL}}/assets/js/sweetalert2.all.min.js"></script>
<script src="{{baseURL}}/assets/js/sweetalerts.min.js"></script>
<script src="{{baseURL}}/assets/js/script.js"></script>

<!-- BEGIN: Page JS-->
<script src="{{script}}"></script>
<!-- END: Page JS-->
